span.bad {
    position: absolute;
    animation: fadeIn 0.5s forwards;
    background-color: floralwhite;
    color: rgb(255, 174, 108);
    padding: 5px;
    white-space: nowrap;
    border-radius: 10px;
}
@keyframes fadeIn {
    from{opacity: 0; margin-left: 50px;}
    to {opacity: 1; margin-left: 20px;}
}

   
html, body {
    margin-bottom: 0;
}
.joinForm {
    height: 100%;
}
fieldset {
    border: 1px solid rgb(149, 255, 128);
    width: 800px;
}
span.bad {
    position: absolute;
    animation: fadeIn 0.5s forwards;
    background-color: floralwhite;
    color: rgb(255, 174, 108);
    padding: 5px;
    white-space: nowrap;
    border-radius: 10px;
}
@keyframes fadeIn {
    from{opacity: 0; margin-left: 50px;}
    to {opacity: 1; margin-left: 20px;}
}
fieldset {
    margin: 0 auto;
}
fieldset > div:first-child {
    text-align: center;
        height: 100px;
}
legend {
    font-size: 30px;
}
.formWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
}
.formWrapper div {
    margin-top: 30px;
    text-align: center;
}
.formWrapper label {
    line-height: 30px;
}
.textBox {
    border:1px solid rgb(255, 207, 169);
    height: 30px;
    width: 350px;
}
[type='submit'], [type='reset'] {
    width: 150px;
    height: 80px;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    color: rgb(100, 90, 85);
    background-color: rgb(235, 235, 235);
}
[type='submit']:active, [type='reset']:active {
    background: rgb(120, 120, 120);
}